body {
    width: 370px;
}

.snapshot-text {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.snapshot-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.snapshot-item:hover {
    background-color: #dcdcdc;
}

.red-button {
    background-color: #ff0b0b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.red-button:hover {
    background-color: #bb0000;
}

.blue-button {
    background-color: #2f77ff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.blue-button:hover {
    background-color: #006bad;
}

.about-link {
    color: #2f77ff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 3px;
    transition: color 0.3s;
}
.about-link:hover {
    color: #006bad;
}