body {
    width: 370px;
}

.tab-count {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    color: #333;
}

.snapshot-text {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}
.snapshot-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.snapshot-item:hover {
    background-color: #dcdcdc;
}

.red-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.red-button:hover {
    background-color: #EA4335;
}

.blue-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.blue-button:hover {
    background-color: #4285F4;
}

.green-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.green-button:hover {
    background-color: #34A853;
}

.yellow-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.yellow-button:hover {
    background-color: #FBBC05;
}

.about-link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 3px;
    transition: color 0.3s;
}
.about-link:hover {
    color: #ff0000;
}